body {
  background-color: #002642;
  font-family: Oswald,sans-serif;
  font-size: 12px;
  font-style: arial;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  color: #e59500;
  
      
}


h1 {
    color: #21cad6;
    font-size: 25px;
    font-family: Merriweather, serif;
    text-align: center;
}

p {
  color:#e5dada;
  font-family: Merriweather, serif;
  text-align: none;
  font-size: 30px;
  

}

nav {
  background-color: #e59500;
  border:ridge;
  border-color: #21cad6;
  text-align: right;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}
#nav_wrapper {
  width: 960px;
  margin: 0 auto;
  text-align: left;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  min-width: 200px;
}
nav ul li {
  display: inline-block;
}
nav ul li:hover {
  background-color: #e5dada(136, 18, 18);
}
nav ul li a, visited {
  color: #002642;
  display: block;
  padding: 15px;
  text-decoration: none;
}


ul {

  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  font-size: 18px;
  color: #e59500;
  font-family: Satisfy, cursive;
}

img {
  width: 170px;
   
}
